/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/* HEADER */

.navigation > div >a{
    color: white;
    text-decoration: none;
}

.navigation > div >i{
    color: white;
}

.logo{
    max-width: 170px;
}

.navigation{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #FF6900;
}

/* MAIN */

.image_one{
    opacity: 1;
}

.image_two{
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0;
    /* debug */
    border: 2px dashed red;
    background-color: lightgray;
}

.card{
    position: relative;
    height: 500px;
    width: 300px;
    background-size: cover;
    /* debug */
    border: 1px dashed black;
    background-color: rgb(218, 200, 200);
}
/* LABEL CARD */

.label_heart{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: large;
    padding: 15px;
    background-color: white;
  
    /* debug */
    border: 1px dashed green;  
}

.label_details{
    position: absolute;
    bottom: 90px;
    color: white;
}

.typology{
    padding: 5px;
    background-color: green;
}

.discount{
    padding: 5px;
    background-color: red;
}

/* CARD DESCRIPTION */

.collection{
    font-weight: bold;
}

.frist_price{
    font-size: small;
}

.price{
    display: inline-block;
    color: red;
    text-decoration: line-through;
}

/* HOVER OPTION */

.card:hover .image_one{
    opacity: 0;
}

.card:hover .image_two{
    opacity: 1;
}

.card:hover .label_heart .fa-heart{
    color: red;
}