/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.navigation > div >a{
    color: white;
    text-decoration: none;
}

.navigation > div >i{
    color: white;
}

.logo{
    max-width: 170px;
}

.navigation{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #FF6900;
}

/* MAIN */

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0;
    /* debug */
    border: 2px dashed red;
    background-color: lightgray;
}

.card{
    position: relative;
    height: 500px;
    width: 300px;
    background-size: cover;
    /* debug */
    border: 1px dashed black;
    background-color: rgb(218, 200, 200);
}

.product_1{
    background-image: url(../img/1.webp);
}

.product_2{
    background-image: url(../img/2.webp);
}

.product_3{
    background-image: url(../img/3.webp);
}

.product_4{
    background-image: url(../img/4.webp);
}

.product_5{
    background-image: url(../img/5.webp);
}

.product_6{
    background-image: url(../img/6.webp);
}

/* LABEL CARD */

.label_heart{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: large;
    padding: 15px;
    background-color: white;
  
    /* debug */
    border: 1px dashed green;  
}

.label_details{
    position: absolute;
    bottom: 20px;
    color: white;
}

.typology{
    padding: 5px;
    background-color: green;
}

.discount{
    padding: 5px;
    background-color: red;
}